<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LeadRatSuite">
	
	<listeners> 
		<listener class-name="test.base.ExtentReportManagerMailreport"></listener>
	</listeners>
	
	<test name="Leadrat Test">

	<parameter name="browser" value="chrome"/>
	
	 <classes>
     
   <!--  <class name="web.test.Tc001_AddLead"/>
  <class name="web.test.TC_DDTTest_002"/>-->
    
        <!--  <class name="api.test.TC0001_api"/>-->
       	<class name="api.test.TC0002_api"/>
        <class name="api.test.TC0003_api"/>
        <class name="api.test.TC0004_api"/>
      	<class name="api.test.TC0005_api"/>
		<class name="web.test.Tc001_AddLead"/>

  		<!--<class name="web.test.dummy"/> 
   	   <class name="testCases.Tc0002_AddData"/>
   	   <class name="api.test.TC0002_api"/>
       <class name="mob.test.TC0001_mob"/>
	   <class name="web.test.Tc001_AddLead"/>-->
	   
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
